<a href="https://colab.research.google.com/github/AshiniAnantharaman/NeuralNetwork/blob/main/NeuralNetworkFromScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Insurance  
This project is used to check if a particular person has bought insurance or not based on their age and affordibility using Neural Network. It uses a very small data set with just 2 columns in it.

### Main Objective
The main objective is to create a neural network from scratch and print the values of gradient descent in each epoch.

Importing and reading the data from the csv file

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv("/content/insurance_data.csv")
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [ ]:
df.shape

(28, 3)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['age','affordibility']],df.bought_insurance,test_size=0.2, random_state = 42)

In [ ]:
len(X_train)

22

Normalizing the age factor

In [ ]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age']/100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age']/100

In [ ]:
X_train_scaled.shape

(22, 2)

In [ ]:
X_train_scaled

     age  affordibility
17  0.58              1
22  0.40              1
11  0.28              1
13  0.29              0
15  0.55              1
1   0.25              0
4   0.46              1
5   0.56              1
2   0.47              1
16  0.25              0
23  0.45              1
3   0.52              0
26  0.23              1
24  0.50              1
18  0.19              0
27  0.46              1
20  0.21              1
7   0.60              0
10  0.18              1
14  0.49              1
19  0.18              1
6   0.55              0

Creating the Neural Network model using Keras

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,), activation='sigmoid',kernel_initializer='ones', bias_initializer='zeros')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train_scaled, y_train, epochs=3500)

In [ ]:
model.evaluate(X_test_scaled, y_test)

1/1 [==============================] - 0s 297ms/step - loss: 0.3420 - accuracy: 1.0000

[0.34201565384864807, 1.0]

In [ ]:
X_test_scaled

     age  affordibility
9   0.61              1
25  0.54              1
8   0.62              1
21  0.26              0
0   0.22              1
12  0.27              0

In [ ]:
model.predict(X_test_scaled)

array([[0.7628336 ],
       [0.7143476 ],
       [0.76927686],
       [0.25561   ],
       [0.44177556],
       [0.26251113]], dtype=float32)

In [ ]:
y_test

9     1
25    1
8     1
21    0
0     0
12    0
Name: bought_insurance, dtype: int64

In [ ]:
coef, intercept = model.get_weights()
print("coef: ", coef, "\nintercept: " ,intercept)
# w1:3.495922236641346, w2:1.1369517328098686, bias:-1.183724644919323,

coef:  [[3.5954795]
 [0.9787722]]
intercept:  [-2.003737]

## BUILDING A NEURAL NETWORK FROM SCRATCH

In [ ]:
def sigmoid(x):
  import math
  return 1/(1 + math.exp(-x))

sigmoid(18)

0.9999999847700205

In [ ]:
def prediction_function(age, affordibility):
  weighted_sum = coef[0] * age + coef[1] * affordibility + intercept
  return sigmoid(weighted_sum)

prediction_function(0.22,1)

array([0.44177553], dtype=float32)

In [ ]:
def log_loss(y_actual, y_predicted):
  epsilon = 1e-15
  y_predicted_new = [max(i,epsilon) for i in y_predicted ] 
  y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new ] 
  y_predicted_new = np.array(y_predicted_new)
  return -np.mean(y_actual*np.log(y_predicted_new) + (1-y_actual) * np.log(1-y_predicted_new))

In [ ]:
def sigmoid_numpy(x):
  return 1/(1 + np.exp(-x))

In [ ]:
def gradient_descent(age, affordibility, y_true, epochs, loss_threshold):
  #w1, w2, bias
  w1 = w2 = 1
  bias = 0
  rate = 0.5
  n = len(affordibility)
  for i in range(epochs):
    weighted_sum = w1*age + w2*affordibility + bias
    y_predicted = sigmoid_numpy(weighted_sum)
    loss = log_loss(y_true, y_predicted)

    # Update the weights
    w1d = (1/n)*(np.dot(np.transpose(age), (y_predicted - y_true)))
    w2d = (1/n)*(np.dot(np.transpose(affordibility), (y_predicted - y_true)))
    bias_d = np.mean(y_predicted - y_true)

    w1 = w1 - rate * w1d
    w2 = w2 - rate * w2d
    bias = bias - rate * bias_d
    
    print(f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')
    if loss <= loss_threshold:
      break
  return w1, w2, bias

In [ ]:
gradient_descent(X_train_scaled['age'],X_train_scaled['affordibility'],y_train,1000, 0.5281)